body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
}
html, body, main {
    height:100%
}

main {
    display: flex;
    align-items: flex-start;
}
nav {
    height:100%;
    display: inline-block;
    overflow-y: scroll;
}
nav ul { padding: 0 20px;}
iframe {
    flex-grow: 1;
    align-self: stretch;
}