/* Reset CSS  */
html, body, h1, h2, h3, p, ol, ul, li, a { padding: 0; border: 0; margin: 0; }

html, body, main {
    font-size: 14px;
    line-height: 1.5;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #333;
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}
main h1, main h2, main h3 { color: #744d3f; }
header, footer {
    background-color:#744d3f;
    color: #EEE;
}

/* header */
header {
    text-align: center;
}
nav {
    text-align: center;
    list-style-type: none;
    width: 100%;
    margin: 0 0 3em 0;
    /* padding: 10%; */
}
nav ul {
    list-style-type: none;
    cursor: pointer;
    color: white;
    margin: 0px;
    padding: 0px;
    display: inline-block; /* here's the money */
    /* default value is 'block' which makes the ul span the whole 
    width of the page. setting 'inline-block' cuts it off at
    the end of the content (after the last li).
    */
}
nav li {
    float: left;
    margin: 0 4px;
}
nav ul li:hover {
    background: orange;
}
nav ul li a {
    text-align: center;
    display: inline-block;
    list-style-type: none;
    cursor: pointer;
    color: white;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

/* main */
main h1, main h2, main h3, p{
    margin: 10px;
}

/* footer */
footer {
    text-align: center;
}