body {
    background-color: #DBF1FC;
    margin: 100px;
  }
  
  @keyframes left-swing {
    0% {transform: rotate(0deg)}
    25% {transform: rotate(-10deg)}
    50% {transform: rotate(0deg)}
    75% {transform: rotate(10deg)}
    100% {transform: rotate(0deg)}
  }
  
  @keyframes right-swing {
    0% {transform: rotate(0deg)}
    25% {transform: rotate(10deg)}
    50% {transform: rotate(0deg)}
    75% {transform: rotate(-10deg)}
    100% {transform: rotate(0deg)}
  }
  
  @keyframes bob {
    0% {transform: translateY(0px)}
    50% {transform: translateY(5px)}
    100% {transform: translateY(0px)}
  }
  
  /*@keyframes fade {
    0% {opacity: 1;}
    80% {opacity: .7;}
    100% {opacity: 1;}
  }*/
  
  /*@keyframes grow {
    0% {transform: scale(1);}
    80% {transform: scale(1.01);}
    100% {transform: scale(1);}
  }*/
  
  /*@keyframes spin {
    0% {transform: rotate(0deg);}
    50% {transform: rotate(20deg);}
    75% {transform: rotate(-20deg);}
    100% {transform: rotate(0deg);}
  }*/
  
  /*@keyframes spin {
    0% {transform: rotate(20deg);}
    to {transform: rotate(0deg);}
  }*/
  
  @keyframes flyoff {
    0% {transform: rotate(0deg);}
    10% {transform: rotate(30deg);}
    20% {transform: rotate(0deg);}
    30% {transform: rotate(-30deg);}
    40% {transform: rotate(0deg);}
    45% {opacity: 1;}
    50% {
      transform: rotate(100deg) scale(3);
      opacity: 0;
    }
    100% {
      opacity: 0;
      transform: scale(1);
    }
  }
  
  @keyframes shake {
    0% {transform: rotate(0deg);}
    10% {transform: rotate(30deg);}
    20% {transform: rotate(0deg);}
    30% {transform: rotate(-30deg);}
    40% {transform: rotate(0deg);}
    50% {transform: rotate(100deg);}
  }
  
  @keyframes darken {
    0% {fill: pink;}
    100% {fill: #DD3D93;}
  }
  
  #right-arm, #left-arm {
    transform-origin: 50% 0%;
  }
  
  #right-arm{
    animation: right-swing 3s infinite linear;
  }
  
  #left-arm{
    animation: left-swing 3s infinite linear;
  }
  
  #sprinkles {
    transition: transform 2s;
    transform-origin: center;
    animation: flyoff 3s infinite ease-in;
  }
  
  #icing-outline {
   animation: shake 3s infinite ease-out;
   transform-origin: center;
  }
  
  #icing-fill {
   animation: shake 3s infinite ease-out, darken 3s infinite;
   transform-origin: 306px 306px;
  }
  
  #left-leg {
    animation: bob 1s infinite linear;
  }
  
  