body {
  background-color: #DBF1FC;
  margin: 100px;
}

/*
@keyframes <animation-name> {
  <step 1> {<property>: <value>;}
  <step 2> {<property>: <value>;}}
*/

@keyframes swing {
  0% {transform: rotate(0deg);}
  25% {transform: rotate(-10deg)}
  50% {transform: rotate(0deg);}
  75% {transform: rotate(10deg);}
  100% {transform: rotate(0deg);}
}

#left-arm {
  transform-origin: top right;
  animation: swing 1s 0s 3 ease-in;
}
#right-arm {
  transform-origin: top left;
  animation: swing 1s 0s 3 ease-out;
}