body {
    background-color: #DBF1FC;
    margin: 100px;
  }
  
  @keyframes bob {
    0% {transform: translateY(0px)}
    50% {transform: translateY(5px)}
    100% {transform: translateY(0px)}
  }
  
  /*@keyframes fade {
    0% {opacity: 1;}
    80% {opacity: .7;}
    100% {opacity: 1;}
  }*/
  
  /*@keyframes grow {
    0% {transform: scale(1);}
    80% {transform: scale(1.01);}
    100% {transform: scale(1);}
  }*/
  
  /*@keyframes spin {
    0% {transform: rotate(0deg);}
    50% {transform: rotate(20deg);}
    75% {transform: rotate(-20deg);}
    100% {transform: rotate(0deg);}
  }*/
  
  /*@keyframes spin {
    0% {transform: rotate(20deg);}
    to {transform: rotate(0deg);}
  }*/
  
  @keyframes flyoff {
    0% {transform: rotate(0deg);}
    10% {transform: rotate(30deg);}
    20% {transform: rotate(0deg);}
    30% {transform: rotate(-30deg);}
    40% {transform: rotate(0deg);}
    45% {opacity: 1;}
    50% {
      transform: rotate(100deg) scale(3);
      opacity: 0;
    }
    100% {
      opacity: 0;
      transform: scale(1);
    }
  }
  
  @keyframes shake {
    0% {transform: rotate(0deg);}
    10% {transform: rotate(30deg);}
    20% {transform: rotate(0deg);}
    30% {transform: rotate(-30deg);}
    40% {transform: rotate(0deg);}
    50% {transform: rotate(100deg);}
  }
  
  @keyframes darken {
    0% {fill: pink;}
    100% {fill: #DD3D93;}
  }

  @keyframes arm-swing-left {
    0%, 50%, 100% {transform: rotate(0deg);}
    25% {transform: rotate(-10deg)}
    75% {transform: rotate(60deg);}
  }
  @keyframes arm-swing-right {
    0%, 50%, 100% {transform: rotate(0deg);}
    25% {transform: rotate(-60deg)}
    75% {transform: rotate(10deg);}
  }
  @keyframes leg-tap {
    0%, 100% {transform: translateY(-20px);}
    50% {transform: translateY(20px);}
  }
  
  #left-arm {
    transform-origin: top right;
    animation: arm-swing-left 1s infinite 0s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  #right-arm {
    transform-origin: top left;
    animation: arm-swing-right 1s infinite 0.5s linear;
  }
  
  #left-leg {
    animation: leg-tap 0.5s infinite;
  }
  #right-leg {
    animation: leg-tap 0.5s infinite 0.25s;
  }
  
  #sprinkles {
    transition: transform 2s;
    transform-origin: center;
    animation: flyoff 3s infinite ease-in;
  }
  
  #icing-outline {
   animation: shake 3s infinite ease-out;
   /* transform-origin: center; */
   transform-origin: 302px 337px;
  }
  
  #icing-fill {
   animation: shake 3s infinite ease-out, darken 3s infinite;
   transform-origin: 302px 337px;
  }
  